.turnover {
  height: 600px;
  background-color: #2B2B29;
  border-radius: 10px;
  padding: 20px;
  // width: 30%;
  flex: 1;

  .tableContainer {
    margin-top: 40px;
    overflow-y: scroll;
    height: 500px;
    width: 100%;
  }
}
