.notes {
  height: 600px;
  background-color: #2b2b29;
  border-radius: 10px;
  padding: 20px;
  // width: calc(30% - 20px);
  flex: 1;

  .notesContainer {
    height: 480px;
    overflow-y: scroll;
    padding: 0px 10px;
    margin-top: 15px;
  }

  .actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    .addNote {
      display: flex;
      color: #067b00;
      border-radius: 0px;

      .addText {
        color: #067b00;
        margin-left: 5px;
      }
    }
  }
}
