.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;

  .img {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .price {
    font-weight: 600;
  }

  .titleContainer {
    display: flex;

    .category {
      color: rgb(149, 149, 149);
      font-size: 14px;
      margin-left: 2px;
    }

    .title {
      font-size: 14px;
    }
  }

  .fastView {
    background-color: rgb(255, 255, 255);
    color: black;
  }

  .fastView:hover {
    background-color: rgb(221, 221, 221);
    color: white;
  }
}

.card:hover {
  box-shadow: 2px 2px 5px 2px #f6c71e;
}
