.newProductPage {
  display: flex;
  justify-content: center;

  .productData {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #2b2b29;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;

    .button {
      color: #f6c71e;
      border-radius: 0px;
    }

    .button:hover {
      color: #f6c71e;
    }

    .addBtn {
      background-color: #f6c71e;
      color: white;
      margin-top: 20px;
      height: 60px;
    }

    .addBtn:hover {
      background-color: #ffda52;
    }
  }

  .productData {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #2B2B29;
    padding: 20px;
    border-radius: 10px;
    flex: 3;

    .prices {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      .purchase {
        flex: 1;
      }

      .price {
        flex: 1;
      }
    }

    .colors {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      width: 100%;

      .colorContainer {
        height: 30px;
        padding: 15px;
        border: 1px solid rgb(208, 207, 207);
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        justify-content: center;

        .removeBtn {
          color: red;
          width: 10px;
          margin-left: 10px;
        }
      }

      .selectedColorContainer {
        height: 30px;
        padding: 15px;
        border: 1px solid rgb(208, 207, 207);
        border-radius: 10px;
        cursor: pointer;
        background-color: rgb(223, 223, 223);
        display: flex;
        justify-content: center;

        .removeBtn {
          color: red;
          width: 10px;
          margin-left: 10px;
        }
      }

      .colorContainer:hover {
        background-color: rgb(223, 223, 223);
      }
    }

    .addBtn {
      background-color: #f6c71e;
      color: white;
      margin-top: 20px;
      height: 60px;
    }
  }
}