.driverCard {
  display: flex;
  padding: 15px;
  width: 40%;
  background-color: #2b2b29;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;

  .driverInfo {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .free {
    padding: 10px;
    color: white;
    border-radius: 10px;
    background: rgb(102, 229, 102);
  }

  .busy {
    padding: 10px;
    color: white;
    border-radius: 10px;
    background: red;
  }
}
