.driverCard {
  display: flex;
  padding: 15px;
  width: 40%;
  background-color: #2b2b29;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;

  .driverInfo {
    display: flex;
    align-items: center;
    gap: 20px;
    align-items: center;

    .info {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .label {
        color: white;
      }
    }
  }

  .free {
    padding: 10px;
    color: white;
    border-radius: 10px;
    background: rgb(102, 229, 102);
  }

  .busy {
    padding: 10px;
    color: white;
    border-radius: 10px;
    background: red;
  }

  .actions {
    display: flex;
    gap: 10px;

    .btns {
      display: flex;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .driverCard {
    flex-direction: column;
    width: 300px;

    .driverInfo {
      flex-direction: column;
      gap: 5px;
      margin-bottom: 20px;

      .info {
        flex-direction: row;
      }
    }

    .actions {
      flex-direction: column;
    }
  }
}
