.productDetails {
  padding: 20px;

  .titleContainer {
    display: flex;

    .category {
      color: rgb(149, 149, 149);
      font-size: 25px;
      margin-left: 2px;
      font-weight: 600;
    }

    .title {
      font-weight: 600;
      font-size: 25px;
    }
  }

  .ratingContainer {
    display: flex;
    align-items: center;

    .rating {
      margin-left: 2px;
      font-size: 12px;
    }
  }

  .price {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 800;
  }

  .color {
    color: rgb(149, 149, 149);
    margin-top: 10px;
    font-size: 12px;
  }

  .sizesTitle {
    margin-top: 50px;
    color: rgb(149, 149, 149);
  }

  .sizes {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;

    .sizeContainer {
      padding: 10px;
      border-radius: 10px;
      background-color: #f6f6f9;
      opacity: 0.5;
      cursor: pointer;
      width: 20px;
      box-shadow: 1px 1px 4px 1px;
      height: 20px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .sizeDetails {
        display: none;
        position: absolute;
        top: -85px;
        width: 200px;
        padding: 15px;
        border: 1px solid gray;
        border-radius: 10px;
        background-color: white;
        z-index: 9999;
      }
    }

    .selectedSizeContainer {
      box-shadow: 1px 1px 4px 1px;
      padding: 10px;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      cursor: pointer;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .sizeDetails {
        display: none;
        position: absolute;
        top: -85px;
        width: 200px;
        padding: 15px;
        border: 1px solid gray;
        background-color: white;
        border-radius: 10px;
        z-index: 9999;
      }
    }

    .sizeContainer:hover {
     opacity: 1;

      .sizeDetails {
        display: block;
      }
    }
  }

  .selectedSizeContainer:hover {
    .sizeDetails {
      display: block;
    }
  }

  .actions {
    width: 100%;

    display: flex;
    justify-content: flex-end;
    margin-top: 30px;

    .saveBtn {
      font-weight: 600;
    }

    .cancelBtn {
      margin-left: 10px;
      font-weight: 600;
    }
  }
}
