.carousel {
  width: 500px;
  position: relative;
  height: 100%;
}

.additionalInformation {
  margin-top: 15px;

  .infoContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .label {
      color: white;
    }

    .info {
      color: #f6c71e;
    }
  }
}

.productDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  .details {
    display: flex;
    flex-direction: column;
    flex: 1;

    .titleContainer {
      display: flex;

      .category {
        color: rgb(149, 149, 149);
        font-size: 25px;
        margin-left: 2px;
        font-weight: 600;
      }

      .title {
        font-weight: 600;
        font-size: 25px;
      }
    }

    .ratingContainer {
      display: flex;
      align-items: center;
      margin-top: 5px;

      .rating {
        margin-left: 2px;
        font-size: 12px;
      }
    }

    .sizeTitleContainer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      .sizesTitle {
        color: white;
      }

      button {
        height: fit-content;
      }
    }

    .sizes {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-top: 10px;

      .sizeContainer {
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .size {
          padding: 10px;
          border-radius: 10px;
          width: 100%;
          opacity: 0.5;
          position: relative;
          border: 1px solid #f6c71e;

          .sizeText {
            color: #f6c71e;
          }

          .line {
            position: absolute;
            rotate: 50deg;
            width: 48px;
            top: 13px;
            left: -5px;
          }
        }

        .selectedSize {
          padding: 10px;
          border-radius: 10px;
          width: 100%;
          opacity: 0.5;
          opacity: 1;
          border: 1px solid #f6c71e;

          .sizeText {
            color: #f6c71e;
          }

          .line {
            display: none;
          }
        }

        .sizeDetails {
          display: none;
          position: absolute;
          top: -85px;
          width: 200px;
          padding: 15px;
          border: 1px solid gray;
          border-radius: 10px;
          background-color: #2b2b29;
          z-index: 9999;
        }

        .sizeActions {
          display: flex;
          flex-direction: column;

          .plusBtn {
            color: rgb(33, 197, 33);
            font-size: 16px;
            padding: 0px;
          }

          .minusBtn {
            color: red;
            font-size: 20px;
            padding: 0px;
          }
        }
      }
      .sizeContainer:hover {
        .sizeDetails {
          display: block;
        }
      }
    }

    .actions {
      width: 100%;

      display: flex;
      justify-content: flex-end;
      margin-top: 30px;

      .saveBtn {
        font-weight: 600;
      }

      .cancelBtn {
        margin-left: 10px;
        font-weight: 600;
        color: rgb(136, 136, 136);
      }
    }
  }

  .actions {
    display: flex;
    gap: 10px;
    .seeMore {
      flex: 1;
      border: 1px solid gray;
      color: #f6c71e;
    }

    .seeMore:hover {
      background-color: rgb(215, 215, 215);
      color: white;
    }

    .removeBtn {
      flex: 1;
      color: red;
      border: 1px solid red;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .carousel {
    width: auto;
  }

  .productDetails {
    .details {
      .titleContainer {
        .category {
          font-size: 20px;
        }

        .title {
          font-size: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .productDetails {
    .details {
      .titleContainer {
        .category {
          font-size: 18px;
        }

        .title {
          font-size: 18px;
        }
      }
    }
  }
}
