.tableContainer {
  .table {
    th {
      padding: 5px;

      .headCell {
        font-weight: 600;
      }

      .data {
        font-size: 1px;
        color: black;
        
        & input {
          color: black;
        }

        & input:disabled {
          -webkit-text-fill-color: black;
        }
      }

      .actions {
        display: flex;
        margin: auto;
        background-color: white;
        border-radius: 10px;
        justify-content: center;
        width: fit-content;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .tableContainer {
    .table {
      th {
        .actions {
          display: none;
        }

        .headCell {
          font-size: 10px;
        }

        .data {
          & input {
            font-size: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .tableContainer {
    .table {
      th {
        .actions {
          display: none;
        }

        .index {
          font-size: 8px;
        }

        .headCell {
          font-size: 8px;
        }

        .data {
          & input {
            font-size: 8px;
          }
        }
      }
    }
  }
}
