.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .content {
    background-color: #2b2b29;
    padding: 20px;
    border-radius: 10px;
    width: 400px;

    .phoneInput {
      width: 100%;
      margin: 20px 0px;
    }

    .submitBtn {
      color: #f6c71e;
      margin-top: 10px;
    }
  }
}
