.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 200px;

  .content {
    background-color: #2b2b29;
    padding: 20px;
    border-radius: 10px;
    width: 400px;

    .loginInput {
      width: 100%;
      margin: 20px 0px;
    }

    .passwordInput {
      width: 100%;
    }

    .submitBtn {
      color: #f6c71e;
      margin-top: 10px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .loginPage {
    .content {
      width: 100%;
    }
  }
}
