.toolbar {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .leftBar {
    display: flex;

    .select {
      margin-left: 10px;
      outline-color: #f6c71e;
      border: 1px solid #f6c71e;
      
    }

    .select:focus {
    }
  }

  .rightBar {
    display: flex;

    .button {
      color: #f6c71e;
    }
  }
}
