.toolbar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;

  .leftBar {
    display: flex;

    .select:focus {
    }
  }

  .rightBar {
    display: flex;
    flex-wrap: wrap;

    .button {
      color: black;
    }
  }
}
