.modal {
  width: 100%;
  height: 100%;

  .modalContent {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 1000px;
    height: auto;
    background-color: #2B2B29;
    border: 1px solid #f6c71e;

    .header {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .content {
      display: flex;
      gap: 15px;

      .carousel {
        width: 500px;
        position: relative;
      }

      .details {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;

        .seeMore {
          width: 100%;
          border: 1px solid gray;
          color: #f6c71e;
        }

        .seeMore:hover {
          background-color: rgb(215, 215, 215);
          color: white;
        }
      }
    }
  }
}
