.sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
  padding: 20px;
  width: 300px;
  background-color: #2b2b29;
  border-radius: 10px;

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .allOrders {
      color: #f6c71e;
      font-size: 12px;
    }
  }
}
