body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: rgb(221, 221, 221);

}

/* p {
  font-family: ,arial,sans-serif !important;
}

a {
  font-family: latobold,arial,sans-serif !important;
}


span {
  font-family: latobold,arial,sans-serif !important;
}

button {
  font-family: latobold,arial,sans-serif !important;
} */

.pages {
  padding: 20px;
}



::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(207, 207, 207);
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(210, 210, 210);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(98, 88, 88);
  border-radius: 10px;
}
