.tabs {
  display: flex;
  margin: 10px 0px;
  gap: 20px;

  .purchaseTypes {
    display: flex;

    .chartBtn {
      background-color: #f0f0f3;
      color: #f6c71e;
      height: 40px;
      border-radius: 0px;
    }

    .selectedChartBtn {
      background-color: #f6c71e;
      color: white;
      height: 40px;
      border-radius: 0px;
    }
  }

  .durations {
    display: flex;

    .chartBtn {
      background-color: #f0f0f3;
      color: #f6c71e;
      height: 40px;
      border-radius: 0px;
    }

    .selectedChartBtn {
      background-color: #f6c71e;
      color: white;
      height: 40px;
      border-radius: 0px;
    }
  }
}


@media only screen and (max-width: 600px) {
  .tabs {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .purchaseTypes {
      .chartBtn {
        font-size: 12px;
      }

      .selectedChartBtn {
        font-size: 12px;
      }
    }

    .durations {
      .chartBtn {
        font-size: 12px;
      }

      .selectedChartBtn {
        font-size: 12px;
      }
    }
  }
}