.tabs {
  display: flex;
  margin: 10px 0px;

  .purchaseTypes {
    display: flex;

    .chartBtn {
      color: black;
      height: 40px;
      border-radius: 0px;
      border: 1px solid #f0f0f3;
    }

    .selectedChartBtn {
      color: #f6c71e;
      height: 40px;
      border-radius: 0px;
      border: 1px solid #f6c71e;
    }
  }

  .durations {
    display: flex;
    margin-left: 20px;

    .chartBtn {
      color: black;
      height: 40px;
      border-radius: 0px;
      border: 1px solid #f0f0f3;
    }

    .selectedChartBtn {
      color: #f6c71e;
      height: 40px;
      border-radius: 0px;
      border: 1px solid #f6c71e;
    }
  }
}
