.header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  background-color: #2b2b29;

  .leftSection {
    display: flex;
    align-items: center;

    .logo {
      width: 50px;
      height: 50px;
    }

    .links {
      margin-left: 20px;
      display: flex;

      .link {
        color: #f6c71e;
        text-decoration: none;
        padding: 10px;
        font-weight: 600;
        border-radius: 10px;
      }

      .active {
        text-decoration: none;
        padding: 10px;
        border: 1px solid #f6c71e;
        color: #f6c71e;
        font-weight: 600;
        border-radius: 10px;
      }
    }
  }

  .rightSection {
    display: flex;
    height: 100%;
    align-items: center;

    .addOrder {
      border: none;
      color: #f6c71e;
      font-size: 14px;
      font-weight: 600px;
    }

    .accountIcon {
      padding: 10px;
      border-radius: 10px;
      margin-left: 10px;
      cursor: pointer;
    }

    .accountIcon:hover {
      background-color: #f6c71e;

      .userName {
        color: white;
      }
    }
  }
}
